:root {
  --desktop: 1600px;
  // Fonts
  --main-font: 'Baloo Chettan 2', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --footer-font: 'Noto Sans', sans-serif;
  // Font weight
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  // Font size
  --fs-main: 18px;
  // Line height
  --lh: 3;
  // Text colors
  --main-text-cl: #0a1902;
  // Background colors
  // Button colors
  --btn-white-bg-cl: #ffffff;
  --btn-white-cl: #ffffff;
  --btn-border-green-cl: rgba(89, 190, 41, 0.3);
  // Accent color
  --accent-cl: #59be29;
  --accent-hovered-cl: #489c21;
  // Border radius
  --br-btn: 20px 80px;
  // Box shadows
  --bs-btn: 0 10px 20px 0 rgba(22, 52, 7, 0.15);
  --bs-btn-header: 0 10px 20px 0 rgba(22, 52, 7, 0.1);
  --bs-btn-square: 0 10px 20px 0 rgba(22, 52, 7, 0.05);
  // Duration
  --duration: 500ms;
  --duration-fast: 300ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
