:root {
  --desktop: 1600px;
  // Fonts
  --main-font: 'Baloo Chettan 2', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --footer-font: 'Noto Sans', sans-serif;
  // Font weight
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  // Font size
  --fs-main: 18px;
  // Line height
  --lh: 3;
  // Text colors
  --main-text-cl: #0a1902;
  // Accent color
  --accent-cl: #59be29;
}
