:root {
  --desktop: 1600px;
  // Fonts
  --main-font: 'Baloo Chettan 2', sans-serif;
  --secondary-font: 'Poppins', sans-serif;
  --footer-font: 'Noto Sans', sans-serif;
  // Font weight
  --fw-r: 400;
  --fw-m: 500;
  --fw-sb: 600;
  --fw-b: 700;
  // Font size
  --fs-main: 18px;
  --fs-section-title: 49px;
  --fs-about-value: 49px;
  --fs-advantages-subtitle: 25px;
  --fs-footer-descr: 16px;
  --fs-footer-title: 22px;
  --fs-footer-link: 16px;
  --fs-hero-uppertitle: 25px;
  --fs-hero-title: 121px;
  --fs-offers-title: 25px;
  --fs-offers-price: 35px;
  --fs-offers-descr: 16px;
  --fs-numbers: 35px;
  --fs-btn-up: 25px;
  // Line height
  --lh: 1.6;
  --lh-section-title: 1.3;
  --lh-about-value: 1.3;
  --lh-advantages-subtitle: 1.5;
  --lh-footer-title: 1.4;
  --lh-hero-uppertitle: 1.5;
  --lh-hero-title: 0.9;
  --lh-offers-title: 1.5;
  --lh-offers-price: 1.4;
  --lh-numbers: 1.4;
  --lh-btn-up: 1.24;
  // Letter spacing
  --ls-hero-uppertitle: 0.1em;
  // Text colors
  --main-text-cl: #0a1902;
  --placeholders-cl: rgba(10, 25, 2, 0.3);
  // Background colors
  --white-bg-cl: #ffffff;
  --btn-up-bg-cl: rgba(255, 255, 255, 0.7);
  // Button colors
  --btn-white-bg-cl: #ffffff;
  --btn-white-cl: #ffffff;
  --btn-white-hovered-cl: #d9fdc9;
  --btn-border-green-cl: rgba(89, 190, 41, 0.3);
  // Accent color
  --accent-cl: #59be29;
  --accent-hovered-cl: #489c21;
  // Border radius
  --br-btn: 20px 80px;
  --br-btn-square: 10px;
  --br-socials: 50%;
  --br-subscribe: 30px;
  --br-input: 10px;
  --br-numbers: 50%;
  --br-btn-up: 50%;
  // Gradients
  --footer-gradient: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(89, 190, 41, 0.4),
      rgba(0, 0, 0, 0)
    )
    1;
  --advantages-gradient: radial-gradient(
    closest-side,
    rgba(89, 190, 41, 1),
    transparent
  );
  // Box shadows
  --bs-btn: 0 10px 20px 0 rgba(22, 52, 7, 0.15);
  --bs-btn-header: 0 10px 20px 0 rgba(22, 52, 7, 0.1);
  --bs-btn-square: 0 10px 20px 0 rgba(22, 52, 7, 0.05);
  --bs-socials: 0 10px 20px 0 rgba(22, 52, 7, 0.05);
  --bs-offers: 0 10px 20px 0 rgba(22, 52, 7, 0.05);
  --bs-subscribe: 0 10px 20px 0 rgba(22, 52, 7, 0.05);
  --bs-input: 0 10px 20px 0 rgba(22, 52, 7, 0.05);
  --bs-numbers: 0 10px 20px 0 rgba(22, 52, 7, 0.05);
  // Duration
  --duration: 500ms;
  --duration-fast: 300ms;
  // Timing function
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
