%section-title {
  font-weight: var(--fw-sb);
  font-size: var(--fs-section-title);
  line-height: var(--lh-section-title);
}

%descr {
  font-weight: var(--fw-r);
  opacity: 0.7;
}

%numbers {
  font-weight: var(--fw-b);
  font-size: var(--fs-numbers);
  line-height: var(--lh-numbers);
  padding: 12px 27px;
  margin-right: 35px;
  border-radius: var(--br-numbers);
  background-color: var(--white-bg-cl);
  box-shadow: var(--bs-numbers);
}

%centeredFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}

%align-list {
  display: flex;
  align-items: center;
}
