<section class="about">
  <div class="about__container">
    <picture>
      <!-- desktop screen -->
      <source
        srcset="
          ./images/about/about-img.webp    1x,
          ./images/about/about-img@2x.webp 2x,
          ./images/about/about-img@3x.webp 3x
        "
        type="image/webp"
      />
      <source
        srcset="
          ./images/about/about-img.jpg    1x,
          ./images/about/about-img@2x.jpg 2x,
          ./images/about/about-img@3x.jpg 3x
        "
        type="image/jpg"
      />
      <!-- fallback -->
      <img
        class="about__img"
        src="./images/about/about-img@3x.jpg"
        alt=""
        width="581"
        height="468"
        loading="lazy"
      />
    </picture>
    <div class="about__wrap">
      <h2 class="about__title">
        Eat a banana for a healthy snack
        <picture>
          <!-- desktop screen -->
          <source
            srcset="
              ./images/about/about-title-img.webp    1x,
              ./images/about/about-title-img@2x.webp 2x,
              ./images/about/about-title-img@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/about/about-title-img.jpg    1x,
              ./images/about/about-title-img@2x.jpg 2x,
              ./images/about/about-title-img@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="about__title-img"
            src="./images/about/about-title-img@3x.jpg"
            alt="Leaf"
            width="130"
            height="65"
            loading="lazy"
          />
        </picture>
      </h2>
      <p class="about__descr">
        You should eat at least five serves of vegetables and two serves of
        fruit each day. Choose different colours and varieties.
      </p>
      <ul class="about__list">
        <div>
          <li class="about__item">
            <p class="about__number">1</p>
            <div>
              <p class="about__value">150+</p>
              <p class="about__description">Global Franchises</p>
            </div>
          </li>
          <li class="about__item">
            <p class="about__number">2</p>
            <div>
              <p class="about__value">100%</p>
              <p class="about__description">Orgnic Product</p>
            </div>
          </li>
        </div>
        <div>
          <li class="about__item">
            <p class="about__number">3</p>
            <div>
              <p class="about__value">97%</p>
              <p class="about__description">Happy Customer</p>
            </div>
          </li>
          <li class="about__item">
            <p class="about__number">4</p>
            <div>
              <p class="about__value">10M+</p>
              <p class="about__description">Monthly Sales</p>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
