<section class="advantages">
  <div class="advantages__container">
    <div class="advantages__wrap">
      <div>
        <h2 class="advantages__title">
          Our purpose is to deliver fresh fruit to you
        </h2>
        <p class="advantages__descr">
          Fruits and vegetables contain many vitamins and minerals that are good
          for your health. These include vitamins
        </p>
      </div>
      <div>
        <ul class="advantages__list">
          <li class="advantages__item">
            <p class="advantages__number">1</p>
            <div>
              <h3 class="advantages__subtitle">Order Your Fruit</h3>
              <p class="advantages__description">
                A serve of fruit is about one medium piece
              </p>
            </div>
          </li>
          <li class="advantages__item">
            <p class="advantages__number">2</p>
            <div>
              <h3 class="advantages__subtitle">Delivery and Pickup</h3>
              <p class="advantages__description">
                A serve of vegetables is about one cup of raw
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <ul class="advantages-gallary__list">
      <li class="advantages-gallary__item">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/advantages/advantages-img01.webp    1x,
              ./images/advantages/advantages-img01@2x.webp 2x,
              ./images/advantages/advantages-img01@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/advantages/advantages-img01.jpg    1x,
              ./images/advantages/advantages-img01@2x.jpg 2x,
              ./images/advantages/advantages-img01@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="advantages-gallary__img"
            src="./images/advantages/advantages-img01@3x.jpg"
            alt="Apple"
            width="362"
            height="362"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="advantages-gallary__item">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/advantages/advantages-img02.webp    1x,
              ./images/advantages/advantages-img02@2x.webp 2x,
              ./images/advantages/advantages-img02@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/advantages/advantages-img02.jpg    1x,
              ./images/advantages/advantages-img02@2x.jpg 2x,
              ./images/advantages/advantages-img02@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="advantages-gallary__img"
            src="./images/advantages/advantages-img02@3x.jpg"
            alt="Apple"
            width="362"
            height="362"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="advantages-gallary__item">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/advantages/advantages-img03.webp    1x,
              ./images/advantages/advantages-img03@2x.webp 2x,
              ./images/advantages/advantages-img03@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/advantages/advantages-img03.jpg    1x,
              ./images/advantages/advantages-img03@2x.jpg 2x,
              ./images/advantages/advantages-img03@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="advantages-gallary__img"
            src="./images/advantages/advantages-img03@3x.jpg"
            alt="Apple"
            width="362"
            height="362"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="advantages-gallary__item">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/advantages/advantages-img04.webp    1x,
              ./images/advantages/advantages-img04@2x.webp 2x,
              ./images/advantages/advantages-img04@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/advantages/advantages-img04.jpg    1x,
              ./images/advantages/advantages-img04@2x.jpg 2x,
              ./images/advantages/advantages-img04@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="advantages-gallary__img"
            src="./images/advantages/advantages-img04@3x.jpg"
            alt="Apple"
            width="362"
            height="362"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="advantages-gallary__item">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/advantages/advantages-img05.webp    1x,
              ./images/advantages/advantages-img05@2x.webp 2x,
              ./images/advantages/advantages-img05@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/advantages/advantages-img05.jpg    1x,
              ./images/advantages/advantages-img05@2x.jpg 2x,
              ./images/advantages/advantages-img05@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="advantages-gallary__img"
            src="./images/advantages/advantages-img05@3x.jpg"
            alt="Apple"
            width="362"
            height="362"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="advantages-gallary__item">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/advantages/advantages-img06.webp    1x,
              ./images/advantages/advantages-img06@2x.webp 2x,
              ./images/advantages/advantages-img06@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/advantages/advantages-img06.jpg    1x,
              ./images/advantages/advantages-img06@2x.jpg 2x,
              ./images/advantages/advantages-img06@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="advantages-gallary__img"
            src="./images/advantages/advantages-img06@3x.jpg"
            alt="Apple"
            width="362"
            height="362"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
