<section class="advantages">
  <div class="advantages__container">
    <div class="advantages__wrap">
      <div>
        <h2 class="advantages__title">
          Our purpose is to deliver fresh fruit to you
        </h2>
        <p class="advantages__descr">
          Fruits and vegetables contain many vitamins and minerals that are good
          for your health. These include vitamins
        </p>
      </div>
      <div>
        <ul class="advantages__list">
          <li class="advantages__item">
            <p class="advantages__number">1</p>
            <div>
              <h3 class="advantages__subtitle">Order Your Fruit</h3>
              <p class="advantages__description">
                A serve of fruit is about one medium piece
              </p>
            </div>
          </li>
          <li class="advantages__item">
            <p class="advantages__number">2</p>
            <div>
              <h3 class="advantages__subtitle">Delivery and Pickup</h3>
              <p class="advantages__description">
                A serve of vegetables is about one cup of raw
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <ul class="advantages-gallary__list">
      <li class="advantages-gallary__item">
        <img
          class="advantages-gallary__"
          src="./images/advantages/advantages-img01@3x.jpg"
          alt="Apple"
          width="362"
          height="362"
        />
      </li>
      <li class="advantages-gallary__item">
        <img
          class="advantages-gallary__"
          src="./images/advantages/advantages-img02@3x.jpg"
          alt="Pear"
          width="362"
          height="362"
        />
      </li>
      <li class="advantages-gallary__item">
        <img
          class="advantages-gallary__"
          src="./images/advantages/advantages-img03@3x.jpg"
          alt="Pitahaya"
          width="362"
          height="362"
        />
      </li>
      <li class="advantages-gallary__item">
        <img
          class="advantages-gallary__"
          src="./images/advantages/advantages-img04@3x.jpg"
          alt="Carambole"
          width="362"
          height="362"
        />
      </li>
      <li class="advantages-gallary__item">
        <img
          class="advantages-gallary__"
          src="./images/advantages/advantages-img05@3x.jpg"
          alt="Avocado"
          width="362"
          height="362"
        />
      </li>
      <li class="advantages-gallary__item">
        <img
          class="advantages-gallary__"
          src="./images/advantages/advantages-img06@3x.jpg"
          alt="Papaya"
          width="362"
          height="362"
        />
      </li>
    </ul>
  </div>
</section>
