<header class="header">
  <div class="header__container">
    <a class="" href="./index.html" area-label="site logo">
      <img
        src="./images/logo/logo.png"
        alt="Site logo"
        width="164"
        height="65"
      />
    </a>
    <nav>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link nav__link--current" href="">Menu</a>
        </li>
        <li class="nav__item"><a class="nav__link" href="">About Us</a></li>
        <li class="nav__item"><a class="nav__link" href="">Fruts</a></li>
        <li class="nav__item"><a class="nav__link" href="">Pricing</a></li>
      </ul>
    </nav>
    <button class="header__btn">Sign Up</button>
  </div>
</header>
