<section class="hero">
  <div class="hero__container">
    <div class="hero-wrap">
      <p class="hero__uppertitle">fresh fruit for you</p>
      <h1 class="hero__title">Eat as you want</h1>
      <p class="hero__descr">
        Fruit and vegetables should be an important part of your daily diet.
        They are naturally good and contain vitamins and minerals that can help
        to keep you healthy. .
      </p>
      <div>
        <button
          class="hero__btn"
          aria-expanded="false"
          aria-controls=""
          data-modal=""
        >
          Add To Cart
        </button>
        <a class="hero__btn" href="">Learn More</a>
      </div>
    </div>
    <div class="hero__wrap">
      <div class="hero__thumb">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/hero/hero-img.webp    1x,
              ./images/hero/hero-img@2x.webp 2x,
              ./images/hero/hero-img@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/hero-img.jpg    1x,
              ./images/hero/hero-img@2x.jpg 2x,
              ./images/hero/hero-img@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            src="./images/hero/hero-img@3x.jpg"
            alt="A basket of peaches"
            width="856"
            height="535"
            loading="lazy"
          />
        </picture>
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/hero/hero-img01.webp    1x,
              ./images/hero/hero-img01@2x.webp 2x,
              ./images/hero/hero-img01@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/hero-img01.jpg    1x,
              ./images/hero/hero-img01@2x.jpg 2x,
              ./images/hero/hero-img01@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="hero__img01"
            src="./images/hero/hero-img01@3x.jpg"
            alt="Twig"
            width="169"
            height="103"
            loading="lazy"
          />
        </picture>
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/hero/hero-img02.webp    1x,
              ./images/hero/hero-img02@2x.webp 2x,
              ./images/hero/hero-img02@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/hero-img02.jpg    1x,
              ./images/hero/hero-img02@2x.jpg 2x,
              ./images/hero/hero-img02@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="hero__img02"
            src="./images/hero/hero-img02@3x.jpg"
            alt="Ant"
            width="119"
            height="83"
            loading="lazy"
          />
        </picture>
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/hero/hero-img03.webp    1x,
              ./images/hero/hero-img03@2x.webp 2x,
              ./images/hero/hero-img03@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/hero/hero-img03.jpg    1x,
              ./images/hero/hero-img03@2x.jpg 2x,
              ./images/hero/hero-img03@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="hero__img03"
            src="./images/hero/hero-img03@3x.jpg"
            alt="Ant"
            width="107"
            height="56"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
