<section class="offers">
  <div class="offers__container">
    <h2 class="visually-hidden">Offers</h2>
    <ul class="offers__list">
      <li class="offers__item">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/offers/offers-img01.webp    1x,
              ./images/offers/offers-img01@2x.webp 2x,
              ./images/offers/offers-img01@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/offers/offers-img01.jpg    1x,
              ./images/offers/offers-img01@2x.jpg 2x,
              ./images/offers/offers-img01@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="offers__img"
            src="./images/offers/offers-img01@3x.jpg"
            alt="Cherry"
            width="362"
            height="255"
            loading="lazy"
          />
        </picture>
        <h3 class="offers__title">Cherries</h3>
        <p class="offers__price">$55 kg</p>
        <p class="offers__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        </p>
        <button class="offers__btn">Add To Cart</button>
      </li>
      <li class="offers__item">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/offers/offers-img02.webp    1x,
              ./images/offers/offers-img02@2x.webp 2x,
              ./images/offers/offers-img02@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/offers/offers-img02.jpg    1x,
              ./images/offers/offers-img02@2x.jpg 2x,
              ./images/offers/offers-img02@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="offers__img"
            src="./images/offers/offers-img02@3x.jpg"
            alt="Cherry"
            width="362"
            height="255"
            loading="lazy"
          />
        </picture>
        <h3 class="offers__title">Amalaki</h3>
        <p class="offers__price">$15 kg</p>
        <p class="offers__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        </p>
        <button class="offers__btn">Add To Cart</button>
      </li>
      <li class="offers__item">
        <picture class="swiper-img">
          <!-- desktop screen -->
          <source
            srcset="
              ./images/offers/offers-img03.webp    1x,
              ./images/offers/offers-img03@2x.webp 2x,
              ./images/offers/offers-img03@3x.webp 3x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/offers/offers-img03.jpg    1x,
              ./images/offers/offers-img03@2x.jpg 2x,
              ./images/offers/offers-img03@3x.jpg 3x
            "
            type="image/jpg"
          />
          <!-- fallback -->
          <img
            class="offers__img"
            src="./images/offers/offers-img03@3x.jpg"
            alt="Cherry"
            width="362"
            height="255"
            loading="lazy"
          />
        </picture>
        <h3 class="offers__title">Acai Berry</h3>
        <p class="offers__price">$25 kg</p>
        <p class="offers__descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        </p>
        <button class="offers__btn">Add To Cart</button>
      </li>
    </ul>
  </div>
</section>
