<section class="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__wrap">
      <img
        class="subscribe__img"
        src="./images/subscribe/subscribe-img@3x.jpg"
        alt="Strawberries"
        width="360"
        height="360"
      />
      <div>
        <h2 class="subscribe__title">Subscribe Newsletter</h2>
        <p class="subscribe__descr">
          Vegetables are available in many varieties and can be classified into
          biological groups or ‘families’, including:
        </p>
        <form class="subscribe__form" name="subscribe" autocomplete="off">
          <input
            class="subscribe__input"
            type="email"
            name="useremail"
            placeholder="example@mail.com"
            required
          />
          <button class="subscribe__btn" type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
