.btn-up {
  display: none;

  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 20;

  font-weight: var(--fw-b);
  font-family: inherit;
  font-size: var(--fs-btn-up);
  line-height: var(--lh-btn-up);

  border-width: 4px;
  border-style: solid;
  border-color: var(--accent-cl);
  border-radius: var(--br-btn-up);
  padding: 15px;
  color: var(--accent-cl);
  background-color: var(--btn-up-bg-cl);
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--btn-white-hovered-cl);
  }
}

.btn-up--active {
  display: block;
}
