.socials {
  display: flex;
  gap: 25px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  color: var(--accent-cl);
  box-shadow: 0 10px 20px 0 rgba(22, 52, 7, 0.05);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-hovered-cl);
  }
}

.socials__icon {
  stroke: currentColor;
  fill: transparent;
}
