.socials {
  display: flex;
  gap: 25px;
}

.socials__link {
  @extend %centeredFlex;
  width: 45px;
  height: 45px;
  border-radius: var(--br-socials);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  color: var(--accent-cl);
  box-shadow: var(--bs-socials);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-hovered-cl);
  }
}

.socials__icon {
  stroke: currentColor;
  fill: transparent;
}
