.about {
  @include section();
}

.about__container {
  @extend .container;
  display: flex;
  justify-content: space-between;
}

.about__img {
  margin-left: -89px;
}

.about__title {
  @extend %section-title;
  position: relative;
  width: 452px;
  margin-bottom: 25px;
}

.about__title-img {
  position: absolute;
  right: 0;
  bottom: -5;
}

.about__descr {
  @extend %descr;
  max-width: 524px;
  margin-bottom: 46px;
}

.about__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 76px;
}

.about__item {
  @extend %align-list;
  color: var(--accent-cl);
}

.about__item:first-child {
  margin-bottom: 36px;
}

.about__number {
  @extend %numbers;
}

.about__value {
  font-size: var(--fs-about-value);
  line-height: var(--lh-about-value);
}

.about__value::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--accent-cl);
}

.about__description {
  @extend %descr;
  color: var(--main-text-cl);
}
