.footer__container {
  @extend .container;
}

.footer__box {
  @include section(80, 80);
  position: relative;
  @extend %align-list;
  border-width: 1px;
  border-style: solid;
  border-image-slice: 1;
  border-image: var(--footer-gradient);
}

.footer__wrap:first-child {
  margin-right: 150px;
}

.footer__descr {
  font-weight: var(--fw-r);
  font-family: var(--footer-font);
  font-size: var(--fs-footer-descr);
  max-width: 339px;
  margin-top: 26px;
  margin-bottom: 50px;
}

.footer__thumb {
  display: flex;
  gap: 109px;
}

.footer__list {
  display: flex;
  gap: 85px;
}

.footer__title,
.socials__title {
  font-weight: var(--fw-m);
  font-family: var(--secondary-font);
  font-size: var(--fs-footer-title);
  line-height: var(--lh-footer-title);
  margin-bottom: 30px;
}

.socials__title {
  margin-bottom: 8px;
}

.footer__subitem:not(:last-child) {
  margin-bottom: 10px;
}

.footer__link {
  font-weight: var(--fw-r);
  font-family: var(--secondary-font);
  font-size: var(--fs-footer-link);
}

.footer__img {
  position: absolute;
  right: -115px;
  bottom: 60px;
  z-index: -1;
}
