.offers {
  @include section();
}

.offers__container {
  @extend .container;
}

.offers__list {
  --indent: 30px;
  --item: 3;
  @extend .card-set;
}

.offers__item {
  @extend .card-item;
  text-align: center;
}

.offers__item:nth-child(2) {
  border-radius: 30px;
  box-shadow: var(--bs-offers);
}

.offers__title {
  font-weight: var(--fw-sb);
  font-size: var(--fs-offers-title);
  line-height: var(--lh-offers-title);
  margin-bottom: 30px;
}

.offers__price {
  font-weight: var(--fw-sb);
  font-size: var(--fs-offers-price);
  line-height: var(--lh-offers-price);
  color: var(--accent-cl);
  margin-bottom: 5px;
}

.offers__descr {
  @extend %descr;
  font-size: var(--fs-offers-descr);
  max-width: 272px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.offers__btn {
  @extend .btn;
  margin-bottom: 45px;
}
