.subscribe {
  @include section(60, 100);
}

.subscribe__container {
  @extend .container;
}

.subscribe__wrap {
  @extend %align-list;
  justify-content: space-evenly;
  gap: 105px;
  border-radius: var(--br-subscribe);
  box-shadow: var(--bs-subscribe);
}

.subscribe__title {
  @extend %section-title;
  margin-bottom: 25px;
}

.subscribe__descr {
  @extend %descr;
  max-width: 392px;
}

.subscribe__input {
  width: 258px;
  height: 59px;
  border: transparent;
  border-radius: var(--br-input);
  outline: none;
  padding: 10px 30px;
  margin-right: 30px;
  box-shadow: var(--bs-input);
}

.subscribe__input::placeholder {
  color: var(--placeholders-cl);
}

.subscribe__btn {
  @extend .btn;
  @extend .btn--square;
}
